{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Informational Website - Everything On A Single Place</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"/>
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div class="max-w-7xl mx-auto">
      {% include 'navbar.html' %} 
      {% block content %} 
        
      {% endblock content %}
    </div>
    {% include "scripts.html" %}
    {% include "footer.html" %}
  </body>
</html>